/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:27:55 PM
    Author     : frontend
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*font-family: 'Roboto', sans-serif;*/


@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/MyriadProRegular/MyriadPro-Regular.eot');
    src: 
        local('MyriadPro-Regular'),
        url('fonts/MyriadProRegular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/MyriadProRegular/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadProRegular/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadProRegular/MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/MyriadProRegular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
