/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2020, 2:28:30 PM
    Author     : frontend
*/


/*

> 0        ''      NO NAME

> 576px    SM    Small Devices

> 768px    MD    Medium Devices

> 992      LG    Large Devices

> 1200     XL    Extra Large

> 1400     XXL   Extra Extra Large

*/

@media(min-width:576px){


}

@media(min-width:768px){

    /*HEADER*/

    header .navbar-dark .navbar-nav .nav-link,
    header .navbar-dark .navbar-nav .nav-link{
        border-bottom: 3px solid transparent;
    }

    header .navbar-dark .navbar-nav .nav-link:hover,
    header .navbar-dark .navbar-nav .nav-link.active{
        background-color: transparent;
        border-bottom: 3px solid #F7CC4B;
    }



    .hero .carousel-item{
        padding: 275px 0;
    }
    .hero .carousel-indicators{
        bottom:130px;
    }


    /*About*/
    .about, .principles{
        padding: 100px 0;
    }
    
    /*Parallax*/
    
    .parallax{
        padding: 275px 0;
    }
}


@media(min-width:992px){




    /*SLIDER*/
    .hero .carousel-indicators{
        bottom:170px;
    }
    .hero .carousel-item{
        padding: 300px 0;
    }
    .hero .hero-title{
        font-size: 82px;
        line-height: 98px;
    }


    /*about*/
    .about, .principles{
        padding: 120px 0 160px;
    }



    /*Video */
    .video{
        padding: 161px 0 223px;
    }
    
    /*Parallax*/
    
    .parallax{
        padding: 300px 0;
    }
}

@media(min-width:1200px){

    .container{
        max-width: 1190px;
    }

}

@media(min-width:1400px){

    .container{
        max-width: 1190px;
    }
}